<p id="notice"><%= notice %></p>

<p>
  <strong>Fieldone:</strong>
  <%= @modelname.fieldone %>
</p>

<p>
  <strong>Fieldtwo:</strong>
  <%= @modelname.fieldtwo %>
</p>

<p>
  <strong>Fieldthree:</strong>
  <%= @modelname.fieldthree %>
</p>

<%= link_to 'Edit', edit_modelname_path(@modelname) %> |
<%= link_to 'Back', modelnames_path %>
